.quote-card-container
	padding: 1em

.quote-card-container .mdl-card
	margin: auto

.quoter-text
	float: right

.mdl-card
	min-height: 0px

.mdl-card__title
	background

.add-button
	position: fixed
	bottom: 2em
	right: 2em